.experiencia {
    background: var(--azul-5);
    padding: 1rem;
}
.experiencia p {
    text-align:center;
    padding: 1rem;
}
.experiencia__curriculum{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}
.experiencia__curriculum img{
    max-width: 35px;
}